/* Estilo para os itens no geral */
.carousel-item {
  flex: 0 0 100%;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0.5; /* Define itens não ativos como parcialmente transparentes */
}

/* Estilo para o item ativo (destacado) */
.carousel-item.act {
  opacity: 1; /* Garante que o item ativo seja totalmente visível */
  transform: scale(1.1); /* Opcional: pode adicionar um pequeno aumento de tamanho */
  z-index: 10; /* Certifica-se de que o item ativo esteja acima dos outros */
}

/* Para garantir que todos os clones tenham aparência igual aos itens reais */
.carousel-item:nth-child(1),
.carousel-item:last-child {
  opacity: 1 !important; /* Remove qualquer opacidade dos clones */
  transform: scale(1) !important;
}
